#container2{
    width:1000px;
    height: 500px;
    margin:auto;
    padding: 10px;
}
.table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #4CAF50;
}
th, td, tr{
    border: 1px solid #bbb;
    padding: 10px;
    text-align: center;
}
tr:hover {
    background-color: #e5e5e5;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #2AABD2;
    color: white;
    border: #4CAF50;
}